/* 
possible animations:
enter
exit
appear must set transitionAppear={true} on animation component
*/

.order-enter
  background red
  transform translateX(-120%)
  transition 5s
  &.order-enter-active
    background yellow
